#footer .footer_content {
    width: 71.9vw;
    padding: 0 1.54vw;
    margin: 0 auto;
}

/* Sprite기법 : 낭독기에는 읽히고 화면에는 안보이게 하는 것 */
#footer .footer_content h2 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    position: absolute;
    /* clip: 일부분만 보이게 클리핑 부분을 지정하는것, 반드시 포지션을 써줘야 함 */
    /* 참조 : https://developer.mozilla.org/ko/docs/Web/CSS/clip-path */
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    bottom: 0;
}
#footer .footer_content nav {
    border-top: 1px solid #d2d2d7;
    padding-top: 2.60vh;
    display: flex;
    flex-flow: row wrap;
}
#footer .footer_content nav>div {
    width: 20%;
}
#footer .footer_content nav h3 {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.12px;
    margin-bottom: 1.25vh;
}
#footer .footer_content nav ul {
    font-weight: 400;
    line-height: 1;
}
#footer .footer_content nav ul li {
    margin-bottom: 1.25vh;
}
#footer .footer_content nav>div:last-child>div:last-child {
    margin-bottom: 3.125vh;
}

