/* SectionPlatforms */
.platforms {
    max-width: 100%;
    height: 41.666vh;
    background: #fafafa;
    padding: 1.5625vh 0;
    margin-bottom: 1.5625vh;
    text-align: center;
}
.platforms h3 {
    color: #1d1d1f;
    font-size: 4.166vh;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 3.255vh 0;
}
.platforms .links {
    max-width: 85.964vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.platforms .links div {
    margin: 0 32px;
}
.links img {
    width: 100%;
    height: 100%;
}








/* 스타일 참조만 할것 */
.nowrap {
    --r-globalnav-height: 44px;
    --r-globalnav-segmentbar-height: 0;
    --r-globalnav-viewport-large-min-width: 1024px;
    --r-globalnav-viewport-large-max-width: 1441px;
    --r-globalnav-viewport-large-query: (min-width: 1024px);
    --r-globalnav-viewport-medium-min-width: 768px;
    --r-globalnav-viewport-medium-max-width: 1023px;
    --r-globalnav-viewport-medium-query: (max-width: 1023px);
    --r-globalnav-viewport-small-min-width: 420px;
    --r-globalnav-viewport-small-max-width: 767px;
    --r-globalnav-viewport-small-query: (max-width: 767px);
    --r-globalnav-viewport-xsmall-min-width: 320px;
    --r-globalnav-viewport-xsmall-max-width: 419px;
    --r-globalnav-viewport-xsmall-query: (max-width: 419px);
    -webkit-text-size-adjust: 100%;
    quotes: "“""”";
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: center;
    color: #06c;
    letter-spacing: inherit;
    box-sizing: inherit;
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}